.meters li {
  display: block;
  padding: 7px 0;
}

.meters span {
  display: inline-block;

  // label
  &:first-child {
    width: 120px;
  }

  // meter
  &:nth-child(2) {
    width: 175px;
    background: $gray-med;
    height: 15px;
    vertical-align: middle;
    position: relative;
  }
}

// fill meter
@each $category, $percentage in $meter-map {
  .meter-#{$category}:after {
    @include meter-fill($percentage);
  }
}
