// colors
$blue-dark: #0069c0;
$blue-med: #2196f3;
$blue-light: #64b5f6;

$off-black: #373737;
$gray-dark: #707070;
$gray-med: #cfcfcf;
$gray-light: #efefef;

$white: white;

// skill level maps
$meter-map: (
  indesign: 98%,
  illustrator: 90%,
  photoshop: 83%,
  sketch: 70%,
  html5: 65%,
  css3: 50%
);

$rings-map: (
  design: -180,
  concepts: -155,
  art: -118,
  teamwork: -70,
  management: -30
);
