/* =====
  GENERAL STYLES
=====*/
* {
  box-sizing: border-box;
}

body {
  background: #373737;
}

.resume {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 1px black;
}

header, footer {
  background: #2196f3;
  color: white;
}

header {
  position: relative;
  box-shadow: 0px 4px 4px -3px #373737;
  z-index: 10;
}

footer {
  margin-top: -1px; /* Body was peeking through. Not sure why it wasn't flush */
}

.block {
  padding-left: 10%;
  padding-right: 10%;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.group {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/* =====
  TEXT STYLING
===== */

h1, h2, h3, p, li {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

p, li {
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
  font-weight: 400;
  color: #2196f3;
  padding: 15px 0;
}


/* =====
  NAVIGATION & CONTACT INFO (top and bottom bands of page)
===== */

nav, .contact {
  background: #0069c0;
}

nav li {
  display: inline-block;
  padding: 15px;
  margin-left: -15px; /* pulls nav menu flush with left edge of content */
}

li.active {
  border-bottom: 3px solid white;
}

.contact {
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact p {
  font-size: 18px;
}

.contact i {
  font-size: 5px;
  vertical-align: middle;
  padding: 0 5px;
}

.contact p:first-child {
  width: 70%;
}

.contact p:last-child {
  width: 30%;
  text-align: right;
}

/* =====
  HEADER AND FOOTER (second and second-last sections on page)
===== */

.title {
  width: 60%;
}

.img {
  width: 40%;
  text-align: right;
}

.img img {
  border-radius: 50%;
}

.links {
  text-align: center;
}

.links .group {
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  background: #0069c0;
  height: 95px;
  width: 95px;
  border-radius: 50%;
  font-size: 35px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.icon,
.icon ~ p {
  text-align: center;
}

.icon ~ p {
  font-size: 16px;
}

/* =====
  STATEMENT OF PURPOSE
===== */

.statement {
  background: #707070;
  color: white;
}

/* =====
  MAIN CONTENT
===== */

.resume-body {
  box-shadow: 0px -4px 4px -3px #373737;
  background: #efefef;
  z-index: 10;
  position: relative;
}

.panel {
  height: 100%;
}

.left {
  width: 40%;
  background: white;
  box-shadow: 4px 0px 4px -3px #707070;
  z-index: 12;
  padding-left: 10%;
  padding-right: 5%;
}

.right {
  width: 60%;
  padding-right: 10%;
  padding-left: 5%;
}

.resume-body section {
  padding: 15px 0;
}

/* =====
  SECTIONS
===== */

/* characteristics */
.list-items li {
  display: block;
  border-bottom: 2px solid #cfcfcf;
}

.list-items span {
  display: inline-block;
  padding: 10px 0;
}

.list-items span:first-child {
  font-weight: 700;
  width: 120px;
}

/* software */
.meter-items li {
  display: block;
  padding: 7px 0;
}

.meter-items span {
  display: inline-block;
}

.meter-items span:first-child {
  width: 120px;
}

span[class^='meter'] {
  width: 175px;
  background: #cfcfcf;
  height: 15px;
  vertical-align: middle;
  position: relative;
}

.meter-items span[class$='98']:after {
  content: "";
  background: #2196f3;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  overflow: hidden;
  width: 98%;
}

.meter-items span[class$='90']:after {
  content: "";
  background: #2196f3;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  overflow: hidden;
  width: 90%;
}

.meter-items span[class$='83']:after {
  content: "";
  background: #2196f3;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  overflow: hidden;
  width: 83%;
}

.meter-items span[class$='70']:after {
  content: "";
  background: #2196f3;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  overflow: hidden;
  width: 70%;
}

.meter-items span[class$='65']:after {
  content: "";
  background: #2196f3;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  overflow: hidden;
  width: 65%;
}

.meter-items span[class$='50']:after {
  content: "";
  background: #2196f3;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  overflow: hidden;
  width: 50%;
}

.hobbies {
  text-align: justify;
}

.hobbies .group {
  width: 33%;
  text-align: center;
  padding-bottom: 15px;
}

.hobbies .icon {
  width: 80px;
  height: 80px;
  background: #64b5f6;
  color: white;
  padding-top: 13px;
  font-size: 53px;
}

.hobbies p {
  font-weight: 400;
}
